html{
  background-color: #174082
}

body {
background-color: #f2f2f2;
width: 1000px;
padding: 10px;
border: 10px solid #98afd6;
margin-left:auto;
margin-right: auto;
}


/* NAVIGATION BAR */

}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #c5ccd8;

}

li {
   float: left;
   display: inline;
}

li a {
   display: inline;
   color: black;
   text-align: center;
   padding: 25px 35px;
   text-decoration: none;
   font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
   background-color: #ffdb2b;
}

.headers {
 font-family: "Courier New", Courier, monospace;
 color: black;
 font-size : 35px;
 font-weight: bold;
 text-align: center;
}

@font-face {
  font-family: Fabulous;
  src: url(Fabulous.ttf);
}

.topheaders {
 font-family: Fabulous;
 color: black;
 font-size : 60px;
 text-align: center;
}

.paragraph {
  color: black;
  font-size : 20px;
  text-align: center;


}

.Jounral{
  color: black;
  font-size : 25px;
}

.time{
  float: right;
  text-align: right;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  display:none;
}

#idDay {
  width: 100%;
  padding: 50px 0;
  display:none;
}

.boxed {
  background-color: #98afd6;
  float: right;
  width: 35%;
  height: 230px;
  text-align: center;
}

.sidebutton{
  width: 45%;
  background-color:  #ffdb2b;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: black;
  font-size : 20px;
  text-align: center;
}

.text {
  color: black;
  font-size : 20px;
  font-family: "Courier New", Courier, monospace;
}


/*  Check list code */



/* Basic Style */
body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 400px;
  margin: 100px auto 0;
}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li, h3 {
  clear:both;
  list-style:none;
}
input, #CLButton {
  outline: none;
}
#CLButton {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
#CLButton:hover {
  color: #333;
}
/* Heading */
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  float: left;
  width: 318px;
}
p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
li >  input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:list-item;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}


.header {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size : 35px;
  font-weight: bold;
  text-align: center;
}


.button {
  width: 25%;
  padding: 20px 0;
  background-color:  #ffdb2b;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: black;
  font-size : 15px;
  text-align: center;
}



.plannerbutton {
  /* position:initial;
  left:10px;
  top:100px; */
  width: 25%;
  padding: 20px 0;
  background-color:  #ffdb2b;
  display: inline-block;
  color: black;
  font-size : 15px;
  text-align: center;
}

#myPlanner {
  display:none;
}

#myAgenda {
  display:none;
}

.buttonAgenda {
  width: 25%;
  padding: 20px 0;
  background-color:  #ffdb2b;
  color: black;
  font-size : 15px;
  text-align: center;
}

.buttonCL {
    width: 25%;
    padding: 20px 0;
    background-color:  #ffdb2b;
    display: inline-block;
    color: black;
    font-size : 15px;
    text-align: center;
  }

  #myCL {
    display:none;
  }

  .btn-group button {
    background-color: #ffdb2b; /* Green background */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
}

/* .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
} */

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
