
.Jounral{
  color: black;
  font-size : 25px;
}

.time{
  float: right;
  text-align: right;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  display:none; }

#idDay {
  width: 100%;
  padding: 50px 0;
  display:none;
}

.boxed {
  background-color: #98afd6;
  float: right;
  width: 35%;
  height: 230px;
  text-align: center;
}

.sidebutton{
  width: 45%;
  background-color:  #ffdb2b;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: black;
  font-size : 20px;
  text-align: center;
}
